{
  "datacenter": "dc1",
  "data_dir": "/opt/consul",
  "log_level": "INFO",
  "rejoin_after_leave": true,
  "bind_addr": "{{ ansible_eth1.ipv4.address }}",
  "addresses": {
    "https": "0.0.0.0"
  },
  "ui": true,
  "encrypt": "{{ consul_encrypt }}",
  "connect": {
  "enabled": true
}
}
