[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
User=vagrant
EnvironmentFile=-/etc/sysconfig/consul.cfg
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/usr/local/bin/consul agent $OPTIONS -config-dir=/etc/consul.d
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
